.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:80%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
    margin-left: 100px;
}

.bookingMovie{
    width: 100%;
    height: 100%;
    /* fixel full 100%  */
    position: fixed;
    background-size: 100%;
}



.ghe{
    border: 3px solid rgb(165, 96, 12);
    width: 40px;
    height: 40px;
    font-size: 12px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(61, 63, 61);
}

.ghe:hover{
    background-color: rgb(109, 238, 109);
}

.rowNumber{
    /* font-size: 25px; */
    width: 45px;
    height: 35px;
    background: none;
    border:none;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 30px;
    color: yellow;
}


.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;

}

.gheDuocChon {
    background: rgb(171, 44, 16);
    cursor: no-drop !important;
    color: #fff;
}

.gheDangChon {
    background: rgb(109, 238, 109);
    cursor: pointer;
}


.gheVip{
    background: rgb(200, 107, 13);
    color: #fff;
    cursor: pointer;
}